@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-size: 14px;
  @apply text-gray-700 bg-blue-100;
  overflow: hidden;
}
body #mount {
  @apply h-screen w-screen;
}

div {
  box-sizing: border-box;
}

.navbar {
  @apply sticky flex py-3 px-3 bg-blue-500 text-gray-300 justify-between content-center shadow shadow-md;
}

.button {
  @apply bg-blue-700 shadow py-2 px-3 text-sm rounded;
}

.button:hover {
  @apply text-gray-100 bg-blue-800 shadow-md text-gray-100;
}

.button:focus {
  @apply shadow-inner;
}
